@font-face{
    font-family: norse-bold;
    src: url("/home/anjali/odin-form/assets/Norse-Bold.otf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.left{
    width :35%;
    height: 100vh;
    background-image: url("/home/anjali/odin-form/assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    display: flex;
    background-size: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
}

.logoContainer{
    width: 100%;
    position: relative;
    top: 30%;
    height: 100px;
    opacity: 0.6;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
    
}
.logoContainer img{
    width: 100px;
    height: 100px;
}
.logoContainer div{
    color: white;
    display: flex;
    font-family: norse-bold;
    font-size: 100px;
}
.credit{
    color: white;
    font-size: small;
}
.credit a{
    color: white;   
}
.right{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    /* width: 600px; */
    height: 100vh;
}